@use "base/variables" as v;
@use "base/mixins" as m;

.contenedor-app {
  @include m.lg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 100vh;
  }
  @include m.xl {
    grid-template-columns: repeat(2, 1fr);
  }

  .imagen {
    height: 20rem;
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-position: center center;
    @include m.lg {
      height: auto;
    }
  }

  .app {
    width: 95%;
    margin: 0 auto;
    padding: 3rem 0;
    @include m.md {
      overflow-y: auto;
    }
    @include m.lg {
      grid-column: span 2;
    }
    @include m.xl {
        grid-column: span 1;
      }
  }
}

.barra {
  margin: v.$separacion 0;
  @include m.md {
    display: flex;
   justify-content: space-between;
   align-items: center

  }
  .boton {
    @include m.boton(v.$negro, v.$blanco);
    margin: 0;
  }
}